$color-white: #ffffff;
$font-family-text: 'Open Sans', sans-serif;

$font-size-menu: 14px;
$font-size: 18px;
$text-transform: uppercase;
$font-family-menu: "Gotham Book";
$font-size-header-title: 80px;
$font-family-header-title: "Gotham Bold", sans-serif;

$color-blue-darkest: #2c4058;
$font-size-title: 44px;
$font-size-slide-title: 22px;
$color-text: #4b5562;
$color-slider-left: #55b7ff;
$color-slider-right: #7e5aff;


//  BUTTOMS
$color-btn:#2c4058;
$font-size-btn: 14px;
$text-transform-btn: uppercase;

