$fontFamile: 'Lato', sans-serif;
$color-page: #ffffff;
$font-size: 14px;

$background-All: url(assects/img/bg.jpg);
$color-background-menu: #2b3040;


$color-background-button: #13e28d;
$font-size-buttoms: 16px;
$text-transform-buttoms: uppercase;

$font-size-title: 33px;

$color-title-menu: #ffffff;
$font-size-menu: 16px;


$text-transform-menu: uppercase;