$fontAleo: 'Aleo', serif;
$fontJosefinsans: 'Josefin Sans', sans-serif;
$color-page: #ffffff;

$font-size-header: 48px;

$color-background-search-btn: rgb(84, 116, 253);

$color-background-menu: rgb(84, 116, 253);

$color-background-button: linear-gradient(45deg, rgb(73, 107, 254) 0%, rgb(73, 107, 254) 37%, rgba(84,116,253,0.95) 38%, rgba(84,116,253,0.86) 100%);
$color-buttons: #ffffff;
$font-size-buttoms: 16px;
$text-transform-buttoms: uppercase;

$font-size-title: 33px;

$color-title-menu: #ffffff;


$widht-box: 100%;
$height-box: 95%;
$background-color-box: rgb(35, 35, 35, .9);
$color-box: #e8e8e8;
$font-size-box-text: 16px;
$font-size-box-title: 20px;
$color-box-bigtitle:#fefefe;


$color-background-footer: rgb(35, 35, 35);

 